
 <!-- TOP NAV -->
 <div class="topmenu">
  <div class="row">
    <div class="col-sm-3">
      <ul class="top left">
        <li><i class="fa fa-phone"></i> 786.897.1134</li>
      </ul>
    </div>
  </div>
</div>
<!-- END OF TOP NAV -->

<!-- HEADER -->
<div class="header">
 <div class="row">
  <div class="col-sm-3">
    <div class="logo">
      <a href="index.html"><img src="images/logo.png" alt="" />
      </a>
    </div>
  </div>
  <div class="col-sm-9">

    <nav id="desktop-menu">
      <ul class="sf-menu" id="navigation">
        <li><a href="index.html">Home</a>
        </li>
        <li><a href="#">Hosting</a>
          <ul>
            <li><a href="hosting.html">Website Management</a></li>
            <li><a href="development.html">Website Development</a></li>
            <li><a href="internet_marketing.html">Internet Marketing</a></li>
          </ul>
        </li>
        <li><a href="#">Who We Are</a>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <li class="current"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
</div>
<!-- END OF HEADER -->

<!-- SUBHEADER -->
<div id="subheader" class="contact">
  <div class="subheader-text">
    <h1>We'd love to hear from you</h1>
    <h2>We usually respond to our Support emails within 24 hours.</h2>
  </div>
</div>
<!-- END OF SUBHEADER -->

<!-- CONTACT FORM -->
<div class="contact-elements">

 <div class="row">
  <div class="col-sm-3">
    <div class="contactmethod blue">
      <h5>Sales</h5>
      <p>If you are interested in one of our services give us a call.</p>
      <p><span>Phone: (786) 897-1134</span><span><a href="mailto:tinktanksoftware@gmail.com">tinktanksoftware@gmail.com</a></span></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="contactmethod blue">
      <h5>Technical Support</h5>
      <p>We try to respond to any technical problems as quickly as possible. The fastest way to get in touch with us is via email at: </p>
      <p><span><a href="mailto:tinktanksoftware@gmail.com">Submit a ticket</a> </span><span>Visit our <a href="faq.html">support page</a></span></p>
    </div>
  </div>
</div>

<div class="spacing-75"></div>

<div class="row">

  <div class="col-sm-4">
    <h3>CONTACT US</h3>
    <div class="titleborder pink">
<div class="titleborder_left"></div>
<div class="titleborder_sign"></div>
</div>
    <h4>Have questions?</h4>
    <p>We try to answer all of your questions in our F.A.Q but if we missed something please contact us.</p>
  </div>

  <div class="col-sm-8">
    <h3>CONTACT INFO</h3>
    <div class="titleborder pink fullwidth">
<div class="titleborder_left"></div>
<div class="titleborder_sign"></div>
</div>
    <div id="sendstatus"></div>
      <p><a href="mailto:tinktanksoftware@gmail.com">Email: tinktanksoftware@gmail.com</a></p>
      <p><a href="tel:+17868971134">Phone: (786)-897-1134</a></p>
  </div>
</div>
<!-- END OF CONTACT FORM -->

</div>


<!-- FOOTER -->
<div class="footer">
  <div class="row">

   <div class="col-sm-3">
    <h4>Hosting</h4>
    <ul>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=1" title="">Economy Hosting</a></li>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=2" title="">Directed Hosting</a></li>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=3" title="">Dedicated VPS</a></li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>COMPANY</h4>

    <ul>
      <li><a href="#" title="">About Us</a></li>
      <li><a href="#" title="">Privacy Policy</a></li>
      <li><a href="#" title="">Acceptable Usage Policy</a></li>
      <li><a href="#" title="">Terms & Conditions</a></li>
      <li><a href="#" title="">DMCA Policy</a></li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>NEWSLETTER SIGNUP</h4>
    <div id="mc_embed_signup">
      <form class="form-inline validate material" action="http://eepurl.com/bVO3VH" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
       <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="E-mail" required>
       <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_b5638e105dac814ad84960d90_9345afa0aa" tabindex="-1" value="">
      </div>
      <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="mtr-btn button-purple">
    </form>
  </div>
</div>
</div>
</div>
<!-- END FOOTER -->

<!-- SOCIAL & COPYRIGHT -->
<div class="social">
  <div class="row">
    <div class="col-sm-12">
     <ul class="social-links">
      <li><a href="https://plus.google.com/102731333253645964125/about" title="Google+"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.instagram.com/tinktanksoftware" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://github.com/chrisrijos" title="Github"><i class="fa fa-github-alt"></i></a></li>>
    </ul>
    <p class="text-center">Copyright© TinkTank Software LLC. All rights reserved.</p>
  </div>
</div>
</div>
<!-- END OF SOCIAL & COPYRIGHT -->

<a href="#top" id="back-to-top" class="ripple"><i class="fa fa-angle-up"></i></a>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/contact-script.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/ripple-effect.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.form.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/custom.js"></script>
<script>
  jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
  });

  function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
      mapTypeId: 'roadmap',
      scrollwheel: false,
      draggable: false,
      styles: [{"featureType":"road","stylers":[{"hue":"#5e00ff"},{"saturation":-79}]},{"featureType":"poi","stylers":[{"saturation":-78},{"hue":"#6600ff"},{"lightness":-47},{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"lightness":22}]},{"featureType":"landscape","stylers":[{"hue":"#6600ff"},{"saturation":-11}]},{},{},{"featureType":"water","stylers":[{"saturation":-65},{"hue":"#1900ff"},{"lightness":8}]},{"featureType":"road.local","stylers":[{"weight":1.3},{"lightness":30}]},{"featureType":"transit","stylers":[{"visibility":"simplified"},{"hue":"#5e00ff"},{"saturation":-16}]},{"featureType":"transit.line","stylers":[{"saturation":-72}]},{}]
    };

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [
    ['Dataserv', 43.160585,-77.600392],
    ];

    // Info Window Content
    var infoWindowContent = [
    ['<div class="info_content">' +
    '<h5>TinkTank Software</h5>' +
    '<p>Pensacola, FL, 34331</p>' + '</div>']
    ];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
      var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
      bounds.extend(position);
      marker = new google.maps.Marker({
        position: position,
        map: map,
        title: markers[i][0]
      });

        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infoWindow.setContent(infoWindowContent[i][0]);
            infoWindow.open(map, marker);
          }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
      }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
      this.setZoom(16);
      google.maps.event.removeListener(boundsListener);
    });

  }
</script>

</body>
</html>