
 <!-- TOP NAV -->
 <div class="topmenu">
  <div class="row">
    <div class="col-sm-3">
      <ul class="top left">
        <li><i class="fa fa-phone"></i> 786.897.1134</li>
      </ul>
    </div>
  </div>
</div>
<!-- END OF TOP NAV -->