<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="822E75617D4C7687C22FE607B1DF3C85" />
  <meta name="google-site-verification" content="vlB2bpBZO9HGlRRVS4w5CWG6HleG2dffdKhr66Ds99I" />
  <meta name="alexaVerifyID" content="xu8KG3OAlK3m5DZXB5xBtg0Jr2k"/>
  <meta name='yandex-verification' content='49ef4f21f94c46d9' />
  <meta name="keywords" content="Pensacola Internet Marketing, internet marketing,Pensacola FL Search engine optimization,software consulting, Website development" />
	<meta name="description" content="We are a Pensacola based Internet Marketing and Website Development company. We also offer Android application development services.">
  <meta name="authors"			content="tinkTank Software Solutions" />
	<meta name="designers"			content="Christopher Rijos" />
	<meta property="og:type"		content="website" />
	<meta property="og:url"			content="http://www.tinktanksoftware.com" />
	<meta property="og:title"		content="tinkTANK Software Solutions"/>
	<meta property="og:description"	content="description" content="We are a Pensacola based Internet Marketing and Website Development company. We also offer Android application development services." /><!--End of meta Tags-->
  <title>Internet Marketing and Website Development | tinkTANK Software Pensacola, FL</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap & Styles -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/block_grid_bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.css">
  <link rel="stylesheet" href="css/animate-custom.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/slicknav.min.css">
  <link href="style.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
